 <p>
  new-members works!
</p>

<div *ngFor="let user of users">
  <input type="text" value=" {{ user.username }} ">
</div>

<hr>
<div>Members coming to the trip:</div>
<div id="added-members"></div>

<div>Search for new members:</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" id="add-member" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
        {{ user.username }}
      </mat-option>
    </mat-autocomplete>
    <button class="btn btn-dark" (click)="setInput()">Add Member to the trip</button>
  </mat-form-field>
  
</form>