@import '../../../../../scss/variables.scss';

.details-container {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 25px
}

.details-list {
  display: grid;
  grid-template-columns: 40% 60%;
  border: 3px lightgrey;
}

.details-pic img {
  width: $image-placeholder-width + 5px;
  height: $image-placeholder-height + 5px;
  justify-self: center;
}

.details-pic {
  justify-self: center;
}