.details-container {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 25px
}

.details-list {
  display: grid;
  grid-template-columns: 40% 60%;
  border: 3px lightgrey;
}

.details-pic img {
  width: 110px;
  height: 110px;
}

.details-pic {
  justify-self: center;
}