<h2> Places of your trip: </h2>


<div class="container">
  <div *ngIf="places" class="flexcontainer">
      <div *ngFor="let place of places" class="flexchild"> 
          <div>
              <img class="placeholder-pic" src="https://lh3.googleusercontent.com/oLzmTqqZMgQM2vo0Smso51AUo9G1tHoyqFfkEswWRxL1iDMgq87IyqEqtwVRWkThIks=w300" alt="placeholder">
          </div>
          <div> {{place.name}} </div>
      </div>
  </div>
  <div *ngIf="!places">
      <div> There are currently no place in this trip. Add One</div>
  </div>
</div>

<button class="button-main-trip" (click)="showMap" type="button"> Show Places on Map </button>


