<p>
  add-place works!
</p>

<p>
    test works!
  </p>
  <div class="container">
    <h1>Enter a new Place for your trip</h1>
    <div class="form-group">
      <input placeholder="Add a new place" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>
  
  <div id="commentfield">
    <input class="comment">
  </div>