
<button onclick="document.getElementById('showAddPlace').style.display='block'" style="width:auto;" class="button btn btn-dark"> Add a place </button>

<div id="showAddPlace" class="popup">
  <div class="container" class="popup-content animate">
      <span onclick="document.getElementById('showAddPlace').style.display='block'" class="x-button" title="Close Modal">&times;</span>
    <div class="popupel">
      <p>Enter a new Place for your trip</p>
    </div>
    <div class="form-group">
      <input placeholder="Add a new place" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </div>
    <div id="mapid" class="popupel">
    <agm-map id="agm-map-2" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
    </div>
    <div id="commentfield">
      <input class="comment form-control" placeholder="Add a description" type="text" name="description" [(ngModel)]="description">
    </div>
    <div class="field submit popupel">
      <button class="btn btn-dark" (click)='addPlace()'>Add place to the trip </button>
    </div>
    <div  class="popupel">
      <button type="button" onclick="document.getElementById('showAddPlace').style.display='none'" class="cancelbtn btn btn-dark">Cancel</button>
    </div>
  </div>
</div>