<!-- <div class="wrapper vertical-container"> -->

  <div class="headline-box">
  <p> inGroup </p>
  <p> Create a trip </p>
  <p>planning and invite your friends to customize. Nobody's opinion is left behind. </p>

  </div>
<!--   
<div class="maincontainer-infobox">
  <div class="maincontainer-infopic">
    <img src="/assets/images/hannes-wolf-88980-unsplash.jpg">
    <p class="maincontainer-info"> Create a trip planning and invite your friends to customize. Nobody's opinion is left behind.</p>
  </div>
</div>

<div class="maincontainer-infobox">
  <div class="maincontainer-infopic">
    <img src="/assets/images/john-matychuk-284377-unsplash.jpg">
    <p class="maincontainer-info"> Manage places to visit as a group. </p>
  </div>
</div>
  
<div class="maincontainer-infobox">
  <div class="maincontainer-infopic">
    <img src="/assets/images/rawpixel-com-472356-unsplash.jpg">
    <p class="maincontainer-info"> Create a trip planning and invite your friends to customize. Nobody's opinion is left behind.</p>
  </div>
</div> -->

<!--   
<div class="maincontainer-infobox">
      <div>
        <img src="/assets/images/hannes-wolf-88980-unsplash.jpg">
        <p class="maincontainer-info"> Create a trip planning and invite your friends to customize. Nobody's opinion is left behind.</p>
      </div>
    </div>

<div class="maincontainer-infobox">
        <div>
          <img src="/assets/images/hannes-wolf-88980-unsplash.jpg">
          <p class="maincontainer-info"> Create a trip planning and invite your friends to customize. Nobody's opinion is left behind.</p>
        </div>
      </div> -->
  <!-- Tags:
  
  Create a trip planning and invite your friends to customize. Nobody's opinion is left behind.
  Manage places to visit as a group
  Friendly offline navigation
  Share your memories
  
  
  Eiffel Tower: /Users/santiagoramos/Ironhack/Week8/project3/project3-fe/src/assets/images/hannes-wolf-88980-unsplash.jpg
  Old camera: /Users/santiagoramos/Ironhack/Week8/project3/project3-fe/src/assets/images/dariusz-sankowski-57167-unsplash.jpg
  Compass: /Users/santiagoramos/Ironhack/Week8/project3/project3-fe/src/assets/images/himesh-kumar-behera-216019-unsplash.jpg
  Maps with notebook: /Users/santiagoramos/Ironhack/Week8/project3/project3-fe/src/assets/images/john-matychuk-284377-unsplash.jpg
  Car and map: /Users/santiagoramos/Ironhack/Week8/project3/project3-fe/src/assets/images/leio-mclaren-300910-unsplash.jpg
  Map and coffee: /Users/santiagoramos/Ironhack/Week8/project3/project3-fe/src/assets/images/rawpixel-com-191102-unsplash.jpg
  Bagpacker: /Users/santiagoramos/Ironhack/Week8/project3/project3-fe/src/assets/images/rawpixel-com-472356-unsplash.jpg -->
  
   <!-- <div>
     <img class="pic-info" src="../assets/images/david-200088-unsplash.jpg"/>
     <div class="info-traveling">
       <p> Discuss in Groups </p>
     </div>
   </div>
   
   <div class="flexi-container">
     <img class="pic-info" src="../assets/images/david-200088-unsplash.jpg"/>
     <div class="info-traveling">
       <p> Discuss in Groups </p> -->
     <!-- </div>
   </div>
  
   <div class="flexi-container">
     <img class="pic-info"  src="../assets/images/david-200088-unsplash.jpg"/>
     <div class="info-traveling">
       <p> Discuss in Groups </p>
     </div>
   </div>
  
   <div class="flexi-container">
       <img class="pic-info" src="../assets/images/hannes-wolf-88980-unsplash.jpg"/>
       <div class="info-traveling">
         <p> Manage Recommendations </p>
       </div>
   </div>
  
   <div class="flexi-container">
     <img class="pic-info"  src="../assets/images/ivana-cajina-424716-unsplash.jpg"/>
     <div class="info-traveling">
       <p> Share moments </p>
     </div>
   </div>
  
   <div class="flexi-container">
     <img  class="pic-info" src="../assets/images/jeff-brown-246388-unsplash.jpg"/>
     <div class="info-traveling">
       <p> Go travelling </p>
     </div>
   </div> -->

<!-- </div> -->


