


<div class="maincontainer-infobox">
  <h1> Welcome to InGroup </h1>
  
  <p> thinking about travelling in a group?</p>
  <p> InGroup provides you a way to manage and organize your trips with your friends</p>
  <p> So everyone can stay up to date and manage his favourites to make your trip easier and faster </p>
</div>


<div class="info-container">

  <div class="flexi-container">
    <img class="pic-info" src="../assets/images/david-200088-unsplash.jpg"/>
    <div class="info-traveling">
      <p> Discuss in Groups </p>
    </div>
  </div>

  <div class="flexi-container">
    <img class="pic-info"  src="../assets/images/david-200088-unsplash.jpg"/>
    <div class="info-traveling">
      <p> Discuss in Groups </p>
    </div>
  </div>

<div class="flexi-container">
    <img class="pic-info" src="../assets/images/hannes-wolf-88980-unsplash.jpg"/>
    <div class="info-traveling">
      <p> Manage Recommendations </p>
    </div>
</div>

<div class="flexi-container">
  <img class="pic-info"  src="../assets/images/ivana-cajina-424716-unsplash.jpg"/>
  <div class="info-traveling">
    <p> Share moments </p>
  </div>
</div>

<div class="flexi-container">
  <img  class="pic-info" src="../assets/images/jeff-brown-246388-unsplash.jpg"/>
  <div class="info-traveling">
    <p> Go travelling </p>
  </div>
</div>









</div>
