// Main blocks
.headline-box {
  height: 95vh;
  font-size: 30px;
  background-image: url("/assets/images/luca-micheli-422053-unsplash.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 60px;
}

.landing-info-text {
  background-color: rgba(2, 0, 64, 0.6);
  padding: 15px;
}