// Layouts
.vertical-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.flexi-container {
  display: flex;
  flex-direction: row;
}


// Main blocks
.headline-box {
  font-family: 'Sacramento', cursive;
  width: 100%;
  height: 430px;
  padding-top: 20px;
  font-size: 30px;
  background-image: url("/assets/images/group-walking-sunset.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: blue;
  text-align: center
}

.maincontainer-infobox {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}


// Components
.pic-info {
  width: 60px;
  height: 40px;
}

// Future ideas
// font-family: 'Shadows Into Light Two', cursive;
