<header id="site-header">
  nice header
  <app-login></app-login>
  <app-sign-up></app-sign-up>
  
</header>

<router-outlet id="site-main">

  <div class="container">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <!-- <a [routerLink]="['/profile']">{{user.username}}</a>
        <a [routerLink]="['/logout']">logout</a> -->
      </div>
      <div *ngIf="!loading && anon">
      </div>
    </div>
  </div>

</router-outlet>

<footer id="site-footer">
  nice footer
</footer>