<header id="site-header" class="flexbox">
  <div *ngIf="!user" class="flexbox"> 
    <app-login class="flexbox"></app-login>
    <app-sign-up class="flexbox"></app-sign-up>
  </div>
  <div *ngIf="user" class="flexbox"> 
    <button (click)="logout()" class="button"> Logout </button>
  </div>
</header>

<div id="site-main">
  <div class="container">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user"></div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
  
<footer id="site-footer">
  <div *ngIf="!user"> Test </div>
  <div *ngIf="user"> FB, twitter, instagramm</div>
</footer>