.form-new-info {
width: 330px;
border: 2px solid black;
height: 37px;
}

.field-submit {
  text-align: end;
  padding-right: 15px;
}

.label-create {
  font-size: 15px;
}

.new-info-headline {
  font-size: 17px;
  padding-top: 10px;
}

.search-input {
  width: 270px;
  border: 2px solid black;
  height: 37px;
}

.dropdown {
  padding-left: 15px;
}

.cdk-overlay-container {
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .form-new-info {
    width: 600px;
    text-align: center;
  }

  .search-input {
    width: 600px;
    text-align: center;
  }

  .label-create {
    text-align: center;
  }

  .field {
    text-align: center;
  }

  .desktop {
    padding: 50px;
  }
}