<p>
  new-info works!
</p>

<form (ngSubmit)="handleSubmitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
    <label>Name: </label>
    <input type="text" name="name" [(ngModel)]="name" #nameField="ngModel" [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && nameField.errors">
      <p *ngIf="nameField.errors.required" class="validation">name required</p>
    </div>
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
    <label>Description: </label>
    <input type="text" name="description" [(ngModel)]="description" #describtionField="ngModel" required minlength="15" [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && descriptionField.errors">
      <p *ngIf="descriptionField.errors.required" class="validation">Please enter a description</p>
    </div>
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && memberField.errors}">
      <label>Members: </label>
      <input type="text" name="members" value="value" [(ngModel)]="value" #describtionField="ngModel" [disabled]="processing" id="test"/>
      <div *ngIf="feedbackEnabled && memberField.errors">
        <p *ngIf="memberField.errors.required" class="validation">Please enter a member</p>
      </div>
    </div>
  
    <div id="addedmembers"></div>
  


  <div class="field submit">
    <button type="submit">Create one</button>
    <div *ngIf="feedbackEnabled && form.invalid">
      <p class="validation">there are errors in the form, please review the fields</p>
    </div>
  </div>
</form>


<div *ngFor="let user of users">
  <li>{{ user.username }}</li>
  <button (click)="setInput(user)">Add Member to the trip</button>
</div>
  