@import './scss/variables.scss';

// to reset default browser settings

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 0;
  border: 2px solid black;
}
  
//   /* ---- typography ---- */

body {
    display: flex;
    color: $color-body;
    margin: 0;
}
  
/* ---- layout ---- */

// main header, footer and site main
#site-header {
  display: flex;
  flex-direction: column;
  padding: 15px;
  right: 0;
  top: 0px;
  left: 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky; top: 0px;
  background: lightskyblue;
}

#site-main {
  padding: 20px;
}
  
#site-footer {
  padding: 6px 0px;
  background: lightskyblue;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
  
app-root {
  width: 100%;
}
  
// /* ---- components ---- */

// .flex {
//    display: flex;
// }

.flexbox {
  display: flex;
  justify-content: space-between;
}


/* -- forms generell -- */

form.is-processing {
 	opacity: 0.5;
}

form .field {
  margin-bottom: 20px;
}

// form label {
// 	display: block;
// 	margin-bottom: 10px;
// 	font-style: bold;
// }

// form input {
//   padding: 5px;
//   font-size: 16px;
// }

// form .submit {
//   padding-top: 20px;
// }

// form .submit button {
//   padding: 5px 20px;
//   text-align: center;
//   font-size: 16px;
//   background-color: cyan;
//   cursor: pointer;
// }

// form .field.has-error label {
// 	color: red;
// }

// form .validation {
// 	margin: 5px 0 10px;
// 	color: red;
// }

// form .field.has-error input {
// 	border: 1px solid  red;
// }

agm-map {
  height: 300px;
  width: 300px;
 }



.stylehelp {
   border: 2px solid black;
}

// .button {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   background-color: #f1f1f1;
//   color: black;
//   font-size: 14px;
//   padding: 15px 15px;
//   border: none;
//   cursor: pointer;
//   border-radius: 5px;
//   text-align: center;
// }

// .button:hover {
//   background-color: black;
//   color: white;
// }