/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  
  
  /* ---- typography ---- */
  
  body {}
  
  h1 {}
  
  h2 {}
  
  h3 {}
  
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    background: black;
  }
  
  #site-footer {
    padding: 60px 0px;
    background: black;
  }
  
  #site-main {
    padding: 60px;
  }
  
  
  
  
  /* ---- components ---- */
  