@import './scss/variables.scss';

// to reset default browser settings

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  
// //   /* ---- typography ---- */
  
/* ---- layout ---- */

.logopic img {
  width: 90px;
  height: 45px;
}
body {
  margin-bottom: 50px;
}
// // main header, footer and site main

#site-header {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky; top: 0px;
  background: #020040;
}

.header-box {
  display: grid;
  grid-template-columns: 30% 70%;
}

// #site-main {
//   padding-bottom: $site-footer-height + 20px;
  
// }

#site-footer {
  height: $site-footer-height;
  padding: 6px 0px;
  background: #020040;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
}
  
app-root {
  width: 100%;
}
  
// // /* ---- components ---- */

// /* -- forms general -- */

form.is-processing {
  	opacity: 0.5;
}

form .field {
  margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: cyan;
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

// google maps for search places autocomplete

agm-map {
  height: 400px;
  width: 400px;
 }

#agm-map-2 {
  height: 200px;
  width: 200px;
}
// btn btn dark for sign up login is bootstrap

button:hover {
  opacity: 0.8;
}

.cdk-overlay-container {
  padding-left: 15px;
}