$site-footer-height: 40px;

$image-placeholder-height: 75px;

$image-placeholder-width: 75px;

$image-placeholder-profile: 50%;

$image-border-color: rgb(24, 24, 141);

// <div>Logo made with <a href="https://
// www.designevo.com/" title="Free Online Logo Maker">DesignEvo</a></div>