.container-tripcard {
  display: grid;
  grid-template-columns: 100%;
}

.tripcard-box {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 40px;
  border: 3px lightgrey;
}

.tripcard-box img {
  width: 220px;
  height: 220px;
  justify-self: center;
}

// @todo footer doesnt work here