.tripcard-box {
  display: grid;
  grid-template-columns: 40% 60%;
  -ms-grid-columns: 40% 60%;
  padding: 20px;
  border: 5px solid black;
  margin: 10px;
}

.tripcard-box img {
  width: 100px;
  height: 100px;
  justify-self: center;
}

.detailbtn {
  justify-self: end;
}

.description-trip {
  display: grid;
  grid-template-rows: 25% 45% 30%;
}

@media screen and (min-width: 768px) {
  .container-tripcard {
    display: grid;
    grid-template-columns: 50%;
    text-align: center;
  }
}